<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <!--Performs injection of an EntityManager into JPA code-->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="mbeanServer" class="java.lang.management.ManagementFactory" factory-method="getPlatformMBeanServer"/>

    <bean id="jmxAgent" class="lk.rgd.common.JMXAgent" init-method="init">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="mbs" ref="mbeanServer"/>
    </bean>

    <!--A special bean that initializes the database -->
    <bean id="dbInit" class="lk.rgd.crs.core.DatabaseInitializer">
        <property name="dataSource" ref="dataSource"/>
        <property name="createCleanDB" value="false"/>
    </bean>

    <!--A special bean that creates a test population - DO NOT USE IN PRODUCTION -->
    <!--<bean id="popInit" class="lk.rgd.prs.PopulationGenerator">
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
    </bean>-->

    <bean name="proxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>userManagerService</value>
                <value>manageBirthService</value>
                <value>deathRegisterService</value>
                <value>adoptionOrderService</value>
                <value>birthAlterationService</value>
                <value>deathAlterationService</value>
                <value>masterDataManagementService</value>
                <value>certificateSearchService</value>
                <value>ecivilService</value>
                <value>statisticsManagerService</value>
            </list>
        </property>
        <!--<property name="interceptorNames">
            <list>
                <value>serviceAuditor</value>
            </list>
        </property>-->
    </bean>

    <!-- Schedule automated processing tasks -->
    <bean id="scheduledBirthJobs" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="manageBirthService"/>
        <property name="targetMethod" value="triggerScheduledJobs"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="scheduleMarriageNoticeJobs"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="marriageRegistrationService"/>
        <property name="targetMethod" value="triggerScheduledMarriageNoticeJobs"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="cronTriggerMarriageNotice" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="scheduleMarriageNoticeJobs"/>
        <property name="cronExpression" value="0 20 * ? * MON-FRI"/>
    </bean>
    <!--set trigger for marriage notice expiration-->
    <bean id="cronTriggerBirth" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="scheduledBirthJobs"/>
        <property name="cronExpression" value="0 20 * ? * MON-FRI"/>
    </bean>

    <bean id="scheduledStatJobs" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="statisticsManagerService"/>
        <property name="targetMethod" value="triggerScheduledStatJobs"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="cronTriggerStat" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="scheduledStatJobs"/>
        <property name="cronExpression" value="0 0 23 ? * MON-FRI"/>
        <!--0 0 23 ? * MON-FRI-->
    </bean>

    <!-- Start the Triggers - use Cron trigger for production use with an appropriate schedule -->
    <bean id="scheduleFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerBirth"/>
                <ref bean="cronTriggerStat"/>
                <ref bean="cronTriggerMarriageNotice"/>
            </list>
        </property>
    </bean>

    <!--DAO Beans - These allow access to the lower levels of the application data-->
    <bean id="appParametersDAOImpl" class="lk.rgd.common.core.dao.AppParametersDAOImpl"/>
    <bean id="districtDAOImpl" class="lk.rgd.common.core.dao.DistrictDAOImpl"/>
    <bean id="dsDivisionDAOImpl" class="lk.rgd.common.core.dao.DSDivisionDAOImpl"/>
    <bean id="countryDAOImpl" class="lk.rgd.common.core.dao.CountryDAOImpl"/>
    <bean id="courtDAOImpl" class="lk.rgd.crs.core.dao.CourtDAOImpl"/>
    <bean id="raceDAOImpl" class="lk.rgd.common.core.dao.RaceDAOImpl"/>
    <bean id="bdDivisionDAOImpl" class="lk.rgd.crs.core.dao.BDDivisionDAOImpl"/>
    <bean id="gnDivisionDAOImpl" class="lk.rgd.crs.core.dao.GNDivisionDAOImpl"/>
    <bean id="mrDivisionDAOImpl" class="lk.rgd.crs.core.dao.MRDivisionDAOImpl"/>
    <bean id="userDAOImpl" class="lk.rgd.common.core.dao.UserDAOImpl"/>
    <bean id="roleDAOImpl" class="lk.rgd.common.core.dao.RoleDAOImpl"/>
    <bean id="birthDeclarationDAOImpl" class="lk.rgd.crs.core.dao.BirthDeclarationDAOImpl"/>
    <bean id="personDAOImpl" class="lk.rgd.prs.core.dao.PersonDAOImpl"/>
    <bean id="pinNumberDAOImpl" class="lk.rgd.prs.core.dao.PINNumberDAOImpl"/>
    <bean id="certSearchDAOImpl" class="lk.rgd.crs.core.dao.CertificateSearchDAOImpl"/>
    <bean id="adoptionOrderDAOImpl" class="lk.rgd.crs.core.dao.AdoptionOrderDAOImpl"/>
    <bean id="deathRegisterDAOImpl" class="lk.rgd.crs.core.dao.DeathRegisterDAOImpl"/>
    <bean id="eventDAOImpl" class="lk.rgd.common.core.dao.EventDAOImpl"/>
    <bean id="registrarDAOImpl" class="lk.rgd.crs.core.dao.RegistrarDAOImpl"/>
    <bean id="assignmentDAOImpl" class="lk.rgd.crs.core.dao.AssignmentDAOImpl"/>
    <bean id="birthAlterationDAOImpl" class="lk.rgd.crs.core.dao.BirthAlterationDAOImpl"/>
    <bean id="locationDAOImpl" class="lk.rgd.common.core.dao.LocationDAOImpl"/>
    <bean id="userLocationDAOImpl" class="lk.rgd.common.core.dao.UserLocationDAOImpl"/>
    <bean id="deathAlterationDAOImpl" class="lk.rgd.crs.core.dao.DeathAlterationDAOImpl"/>
    <bean id="personCitizenshipDAOImpl" class="lk.rgd.prs.core.dao.PersonCitizenshipDAOImpl"/>
    <bean id="marriageRegistrationDAOImpl" class="lk.rgd.crs.core.dao.MarriageRegistrationDAOImpl"/>
    <bean id="statisticsDAOImpl" class="lk.rgd.common.core.dao.StatisticsDAOImpl"/>

    <!--Utility singletons-->
    <bean id="birthDeclarationValidator" class="lk.rgd.crs.core.service.BirthDeclarationValidator">
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="birthDeclarationDAOImpl"/>
    </bean>
    <bean id="deathDeclarationValidator" class="lk.rgd.crs.core.service.DeathDeclarationValidator">
        <constructor-arg ref="deathRegisterDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
    </bean>

    <bean id="birthAlterationValidator" class="lk.rgd.crs.core.service.BirthAlterationValidator">
        <constructor-arg ref="birthAlterationDAOImpl"/>
    </bean>

    <bean id="marriageRegistrationValidator" class="lk.rgd.crs.core.service.MarriageRegistrationValidator">
        <constructor-arg ref="marriageRegistrationDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="registrarManagementService"/>
        <constructor-arg ref="assignmentDAOImpl"/>
    </bean>

    <bean id="populationRegisterValidator" class="lk.rgd.crs.core.service.PopulationRegisterValidator">
        <constructor-arg ref="personDAOImpl"/>
    </bean>

    <bean id="serviceAuditor" class="lk.rgd.crs.core.service.ServiceAuditor">
        <constructor-arg value="true"/>
        <constructor-arg ref="eventDAOImpl"/>
    </bean>

    <!--Service API beans - these allows access at a 'service' level, suitable for consumption by
    the web interface as well as a Web Services interface -->
    <bean id="userManagerService" class="lk.rgd.common.core.service.UserManagerImpl">
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="roleDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="userLocationDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
    </bean>

    <bean id="statisticsManagerService" class="lk.rgd.common.core.service.StatisticsManagerImpl">
        <constructor-arg ref="statisticsDAOImpl"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="birthDeclarationDAOImpl"/>
        <constructor-arg ref="deathRegisterDAOImpl"/>
        <constructor-arg ref="marriageRegistrationDAOImpl"/>
    </bean>

    <bean id="registrarManagementService" class="lk.rgd.crs.core.service.RegistrarManagementServiceImpl">
        <constructor-arg ref="registrarDAOImpl"/>
        <constructor-arg ref="assignmentDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
    </bean>

    <!--Service API beans - these allows access at a 'service' level, suitable for consumption by
    the web interface as well as a Web Services interface -->
    <bean id="manageBirthService" class="lk.rgd.crs.core.service.BirthRegistrationServiceImpl">
        <constructor-arg ref="birthDeclarationDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
        <constructor-arg ref="birthRecordsIndexer"/>
        <constructor-arg ref="adoptionOrderDAOImpl"/>
        <constructor-arg ref="birthDeclarationValidator"/>
        <constructor-arg ref="adoptionOrderService"/>
    </bean>


    <bean id="deathRegisterService" class="lk.rgd.crs.core.service.DeathRegistrationServiceImpl">
        <constructor-arg ref="deathRegisterDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="deathDeclarationValidator"/>
    </bean>

    <bean id="adoptionOrderService" class="lk.rgd.crs.core.service.AdoptionOrderServiceImpl">
        <constructor-arg ref="adoptionOrderDAOImpl"/>
    </bean>

    <bean id="birthAlterationService" class="lk.rgd.crs.core.service.BirthAlterationServiceImpl">
        <constructor-arg ref="birthAlterationDAOImpl"/>
        <constructor-arg ref="birthDeclarationDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="personDAOImpl"/>
        <constructor-arg ref="birthAlterationValidator"/>
    </bean>

    <bean id="deathAlterationService" class="lk.rgd.crs.core.service.DeathAlterationServiceImpl">
        <constructor-arg ref="deathAlterationDAOImpl"/>
        <constructor-arg ref="deathRegisterDAOImpl"/>
    </bean>

    <bean id="marriageRegistrationService" class="lk.rgd.crs.core.service.MarriageRegistrationServiceImpl">
        <constructor-arg ref="marriageRegistrationDAOImpl"/>
        <constructor-arg ref="marriageRegistrationValidator"/>
        <constructor-arg ref="userLocationDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
        <constructor-arg value="/data/scanned"/>
        <constructor-arg value="image/tiff"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="appParametersDAOImpl"/>
    </bean>

    <bean id="masterDataManagementService" class="lk.rgd.crs.core.service.MasterDataManagementServiceImpl">
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="courtDAOImpl"/>
        <constructor-arg ref="gnDivisionDAOImpl"/>
    </bean>

    <bean id="certificateSearchService" class="lk.rgd.crs.core.service.CertificateSearchServiceImpl">
        <constructor-arg ref="birthDeclarationDAOImpl"/>
        <constructor-arg ref="deathRegisterDAOImpl"/>
        <constructor-arg ref="certSearchDAOImpl"/>
        <constructor-arg ref="birthRecordsIndexer"/>
        <constructor-arg ref="deathRecordsIndexer"/>
    </bean>

    <bean id="eventManagementService" class="lk.rgd.common.core.service.EventViewerServiceImpl">
        <constructor-arg ref="eventDAOImpl"/>
    </bean>

    <!--Service API beans - these allows access at a 'service' level, suitable for consumption by
    the web interface as well as a Web Services interface -->
    <bean id="ecivilService" class="lk.rgd.prs.core.service.PopulationRegistryImpl">
        <constructor-arg ref="personDAOImpl"/>
        <constructor-arg ref="pinGeneratorService"/>
        <constructor-arg ref="prsRecordsIndexer"/>
        <constructor-arg ref="personCitizenshipDAOImpl"/>
        <constructor-arg ref="populationRegisterValidator"/>
    </bean>

    <bean id="pinGeneratorService" class="lk.rgd.prs.core.service.PINGeneratorImpl">
        <constructor-arg ref="pinNumberDAOImpl"/>
        <constructor-arg ref="personDAOImpl"/>
        <constructor-arg value="1994-01-01"/>
        <constructor-arg value="2000"/>
    </bean>

    <!--Solr index manager-->
    <bean id="solrIndexManager" class="lk.rgd.common.core.index.SolrIndexManager">
        <constructor-arg value="http://localhost:8080/solr/births"/>
        <constructor-arg value="http://localhost:8080/solr/prs"/>
        <constructor-arg value="http://localhost:8080/solr/deaths"/>
    </bean>
    <bean id="birthRecordsIndexer" class="lk.rgd.crs.core.service.BirthRecordsIndexer">
        <constructor-arg ref="solrIndexManager"/>
        <constructor-arg ref="birthDeclarationDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
    </bean>
    <bean id="deathRecordsIndexer" class="lk.rgd.crs.core.service.DeathRecordsIndexer">
        <constructor-arg ref="solrIndexManager"/>
        <constructor-arg ref="deathRegisterDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
    </bean>
    <bean id="prsRecordsIndexer" class="lk.rgd.crs.core.service.PRSRecordsIndexerImpl">
        <constructor-arg ref="solrIndexManager"/>
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="personDAOImpl"/>
    </bean>
    <bean id="commonUtil" class="lk.rgd.crs.web.util.CommonUtil">
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
    </bean>

    <bean id="reportsGeneratorService" class="lk.rgd.crs.core.service.ReportsGeneratorImpl">
        <constructor-arg ref="manageBirthService"/>
        <constructor-arg ref="deathRegisterService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
    </bean>

    <!--Web module related classes-->
    <bean id="birthRegisterAction" scope="prototype" class="lk.rgd.crs.web.action.births.BirthRegisterAction">
        <constructor-arg ref="manageBirthService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="adoptionOrderService"/>
        <constructor-arg ref="userLocationDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="assignmentDAOImpl"/>
        <constructor-arg ref="birthAlterationService"/>
        <constructor-arg ref="commonUtil"/>
        <constructor-arg ref="gnDivisionDAOImpl"/>
    </bean>

    <bean id="birthAlterationAction" scope="prototype" class="lk.rgd.crs.web.action.births.BirthAlterationAction">
        <constructor-arg ref="manageBirthService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="birthAlterationService"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="commonUtil"/>
        <constructor-arg ref="birthAlterationValidator"/>
    </bean>

    <bean id="birthPrintAction" scope="prototype" class="lk.rgd.crs.web.action.births.PrintAction">
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="manageBirthService"/>
    </bean>

    <bean id="birthApprovalAction" scope="prototype" class="lk.rgd.crs.web.action.births.BirthRegisterApprovalAction">
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="manageBirthService"/>
    </bean>

    <bean id="loginAction" class="lk.rgd.crs.web.action.LoginAction">
        <constructor-arg ref="userManagerService"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="roleDAOImpl"/>
        <constructor-arg ref="statisticsDAOImpl"/>
        <constructor-arg ref="statisticsManagerService"/>

    </bean>

    <bean id="searchAction" class="lk.rgd.crs.web.action.births.SearchAction">
        <constructor-arg ref="manageBirthService"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="certificateSearchService"/>
    </bean>

    <bean id="userPreferenceAction" class="lk.rgd.crs.web.action.UserPreferencesAction">
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="roleDAOImpl"/>
        <constructor-arg ref="statisticsDAOImpl"/>
        <constructor-arg ref="statisticsManagerService"/>

    </bean>

    <bean id="adoptionOrderAction" class="lk.rgd.crs.web.action.births.AdoptionAction">
        <constructor-arg ref="manageBirthService"/>
        <constructor-arg ref="adoptionOrderService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="courtDAOImpl"/>
    </bean>

    <bean id="userManagmentAction" class="lk.rgd.crs.web.action.UserManagementAction">
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="roleDAOImpl"/>
        <constructor-arg ref="userManagerService"/>
        <constructor-arg ref="masterDataManagementService"/>
        <constructor-arg ref="courtDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="userLocationDAOImpl"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="birthRecordsIndexer"/>
        <constructor-arg ref="deathRecordsIndexer"/>
        <constructor-arg ref="prsRecordsIndexer"/>
        <constructor-arg ref="gnDivisionDAOImpl"/>
    </bean>

    <bean id="registrarsManagmentAction" class="lk.rgd.crs.web.action.RegistrarManagementAction">
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="registrarManagementService"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
    </bean>

    <bean id="deathAlterationAction" class="lk.rgd.crs.web.action.deaths.DeathAlterationAction">
        <constructor-arg ref="deathAlterationService"/>
        <constructor-arg ref="deathRegisterService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="bdDivisionDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="commonUtil"/>
    </bean>

    <bean id="eventsManagementAction" class="lk.rgd.crs.web.action.EventsViewerAction">
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="eventDAOImpl"/>
        <constructor-arg ref="eventManagementService"/>
    </bean>

    <bean id="personRegisterAction" class="lk.rgd.prs.web.action.PersonRegisterAction">
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
    </bean>

    <bean id="personDetailsAction" class="lk.rgd.prs.web.action.PersonDetailsAction">
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
    </bean>

    <bean id="personApprovalAction" class="lk.rgd.prs.web.action.PersonApprovalAction">
        <constructor-arg ref="ecivilService"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="commonUtil"/>
    </bean>

    <bean id="marriageRegisterSearchAction" class="lk.rgd.crs.web.action.marriages.MarriageRegisterSearchAction">
        <constructor-arg ref="marriageRegistrationService"/>
        <constructor-arg ref="districtDAOImpl"/>
        <constructor-arg ref="dsDivisionDAOImpl"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="appParametersDAOImpl"/>
        <constructor-arg ref="userDAOImpl"/>
        <constructor-arg ref="locationDAOImpl"/>
        <constructor-arg ref="commonUtil"/>
        <constructor-arg ref="userLocationDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
    </bean>

    <bean id="marriageRegistrationAction" class="lk.rgd.crs.web.action.marriages.MarriageRegistrationAction">
        <constructor-arg ref="marriageRegistrationService"/>
        <constructor-arg ref="mrDivisionDAOImpl"/>
        <constructor-arg ref="raceDAOImpl"/>
        <constructor-arg ref="countryDAOImpl"/>
        <constructor-arg ref="commonUtil"/>
    </bean>

</beans>
