/* Main-Layout for the print */
@media print {
    body {
        background-color: white !important;
        font-family: verdana, arial, sans-serif;
        font-size: 10pt;
        color: green;
        width: 210mm;
        height: 297mm;
    }

    * {
        background: none;
    }

    select, input, textarea {
        border: none;
        background: none;
    }

    .button {
        display: none;
    }

    #layout-header, #body-content-title, #layout-footer {
        display: none;
    }

    .button_print {
        display: none;
    }

    #body-sidebar {
        display: none;
    }

    #body-content {
        float: left;
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: 45px;
        color: #003333;
        background: url("../images/1.png") no-repeat center;
    }

    textarea {
        color: black;
        font-size: 12pt;
    }
}

/*@media print {*/

/*div.header {*/
/*display: none;*/
/*}*/

/*div.birth-confirmation-form-1-body {*/
/*page-break-inside: avoid;*/
/*page-break-after: always;*/
/*}*/
/*}*/
