@font-face {
    font-family: Bhashitha;
    src: url('./font/ubuntu/Bhashitha/LBhashitaComplex.ttf');
}
@font-face {
    font-family: BhashithaBold;
    src: url('./font/ubuntu/Bhashitha/LBhashitaComplexBold.ttf');
}
@font-face {
    font-family: BhashithaSans;
    src: url('./font/ubuntu/Bhashitha/LBhashitaComplexSans.ttf');
}
@font-face {
    font-family: BhashithaSansBold;
    src: url('./font/ubuntu/Bhashitha/LBhashitaComplexSansbold.ttf');
}
@font-face {
    font-family: SriTamil;
    src: url('./font/ubuntu/SriTamil/SriTamR.ttf');
}
@font-face {
    font-family: SriTamilBold;
    src: url('./font/ubuntu/SriTamil/SriTamB.ttf');
}

/*  Define Fonts for Ubuntu Platform.
    BhashitaComplex:Bhashitha font in the local machine.
    Bhashitha:      Bhashitha font from the server.
    Sri Tamil:      Sri Tamil font in the local machine.
    SriTamil:       Sri Tamil font from the server.
*/
body{
    font-family: BhashitaComplex, Bhashitha, Sri Tamil, SriTamil;
}

@media print {
    body{
        font-family: BhashitaComplex, Bhashitha, Sri Tamil, SriTamil;
    }
}